* {
  box-sizing: border-box;
}

:root {
  --mainCol: #23eded;
  --backgroundCol: #010812;
  --indexCol: #576c7c;
  --railCol: #02143E;
  --textCol: #dfe0e2;
  --barCol: #00f0ff90;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--backgroundCol); //background color 
}

.body {
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0.5em;
  gap: 1em;
}

.display {
  max-height: 100%;
  gap: 1em;
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 5fr 2fr;
}

.display>*,
.header {
  border: 1px solid gray;
  border-radius: 10px;
  display: grid;
  place-content: center;
  padding: 0.5em;

  //oveflow fix
  height: 0;
  min-height: 100%;
  overflow: scroll;
}

.header {
  padding: 1em;

  // header text color 
  .MuiSelect-select {
    color: var(--mainCol);
    text-shadow: 0 0 5px var(--mainCol);
    font-weight: bold;
  }

  // header svg color 
  .MuiSvgIcon-root {
    color: var(--mainCol);
    filter: drop-shadow(0 0 5px var(--mainCol));
  }

}

//header and speed select menu color
.custom-select-menu {
  background-color: var(--backgroundCol) !important;
  color: var(--mainCol) !important;
  box-shadow: 0 0 5px var(--mainCol) !important;
  border: 1px solid var(--mainCol) !important;
}

.control {
  grid-template-rows: 1fr auto;
  height: 100%;
  place-items: center;
}

.player {
  .wrap {
    display: grid;
    grid-template-columns: 130%;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    place-items: center;
  }
}

.slider {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  place-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 0.5em;
}

.player .MuiSlider-root {
  height: 4px;
  color: var(--mainCol); // track color

  .MuiSlider-thumb {
    height: 10px;
    width: 10px;
    color: var(--mainCol); //thumb color

    &.Mui-focusVisible {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.16);
    }

    &:hover {
      box-shadow: 0 0 8px var(--mainCol); //for glow effect
    }
  }

  //rail color
  .MuiSlider-rail {
    color: var(--railCol)
  }

  .Mui-active {
    height: 18px;
    width: 18px;
  }
}

.player .player_control {
  display: flex;
  align-items: center;
  gap: 1em;

  .buttons {
    border: 2px solid var(--mainCol); //for theme
    color: var(--mainCol); //for theme
    border-radius: 10px;
    padding: 0.5em 1em;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 1em;

    >*:hover {
      filter: drop-shadow(0 0 3px var(--mainCol)); //for theme
      cursor: pointer;
    }
  }
}


.player_control {

  //speed control color 
  .MuiInputLabel-root {
    color: var(--mainCol);
    text-shadow: 0 0 5px var(--mainCol);
  }

  .MuiOutlinedInput-root {
    color: var(--mainCol);
    font-weight: bold;
    text-shadow: 0 0 5px var(--mainCol);

    .MuiSvgIcon-root {
      color: var(--mainCol);
      filter: drop-shadow(0 0 5px var(--mainCol));
    }

    .MuiOutlinedInput-notchedOutline {
      border: 2px solid var(--mainCol);
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border: 2px solid var(--mainCol);
      box-shadow: 0 0 5px var(--mainCol);
    }
  }

  //size input color
  .MuiInput-root {
    color: var(--mainCol);
  }

  .MuiInputBase-input {
    border-bottom: 2px solid var(--mainCol);
  }

}

::-webkit-scrollbar {
  display: none;
}

.code {
  >* {
    font-weight: bold;
    font-size: 1.14em;
    overflow: scroll;
  }

  pre {
    margin: .4rem;
    padding: .2rem
  }
}

.about {
  place-content: stretch;

  .wrap {
    padding: 1em;

    * {
      margin: 0;
    }
  }
}

//for texts 
.wrap {
  color: var(--textCol);
}

//for Desc text masking 
.title {
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(var(--mainCol), #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

//for bar's appearance
.bar {
  border: 2px solid var(--mainCol);
  background: linear-gradient(to bottom, var(--barCol) 50%, var(--railCol) 90%);
  border-radius: 3px;
  color: white;
  text-shadow: 0 0 5px #000000;
}
