* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #010812; //background color 
}

.body {
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0.5em;
  gap: 1em;
}

.display {
  max-height: 100%;
  gap: 1em;
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 5fr 2fr;
}

.display>*,
.header {
  border: 1px solid gray;
  border-radius: 10px;
  display: grid;
  place-content: center;
  padding: 0.5em;

  //oveflow fix
  height: 0;
  min-height: 100%;
  overflow: scroll;
}

.header {
  padding: 1em;

  // header text color 
  .MuiSelect-select {
    color: #23eded;
    text-shadow: 0 0 5px #23eded;
    font-weight: bold;
  }

  // header svg color 
  .MuiSvgIcon-root {
    color: #23EDED;
    filter: drop-shadow(0 0 5px #23EDED);
  }

}

//header and speed select menu color
.custom-select-menu {
  background-color: #000912 !important;
  color: #23eded !important;
  box-shadow: 0 0 5px #23eded !important;
  border: 1px solid #23eded !important;
}

.control {
  grid-template-rows: 1fr auto;
  height: 100%;
  place-items: center;
}

.player {
  .wrap {
    display: grid;
    grid-template-columns: 130%;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    place-items: center;
  }
}

.slider {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  place-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 0.5em;
}

.player .MuiSlider-root {
  height: 4px;
  color: #23eded; // track color

  .MuiSlider-thumb {
    height: 10px;
    width: 10px;
    color: #23eded; //thumb color

    &.Mui-focusVisible {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.16);
    }

    &:hover {
      box-shadow: 0 0 8px #23eded; //for glow effect
    }
  }

  //rail color
  .MuiSlider-rail {
    color: #02143E
  }

  .Mui-active {
    height: 18px;
    width: 18px;
  }
}

.player .player_control {
  display: flex;
  align-items: center;
  gap: 1em;

  .buttons {
    border: 2px solid #23eded; //for theme
    color: #23eded; //for theme
    border-radius: 10px;
    padding: 0.5em 1em;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 1em;

    >*:hover {
      filter: drop-shadow(0 0 3px #23eded); //for theme
      cursor: pointer;
    }
  }
}


.player_control {

  //speed control color 
  .MuiInputLabel-root {
    color: #23eded;
    text-shadow: 0 0 5px #23eded;
  }

  .MuiOutlinedInput-root {
    color: #23eded;
    font-weight: bold;
    text-shadow: 0 0 5px #23eded;

    .MuiSvgIcon-root {
      color: #23eded;
      filter: drop-shadow(0 0 5px #23eded);
    }

    .MuiOutlinedInput-notchedOutline {
      border: 2px solid #23eded;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border: 2px solid #23eded;
      box-shadow: 0 0 5px #23eded;
    }
  }

  //size input color
  .MuiInput-root {
    color: #23eded;
  }

  .MuiInputBase-input {
    border-bottom: 2px solid #23eded;
  }

}

::-webkit-scrollbar {
  display: none;
}

.code {
  >* {
    overflow: scroll;
  }
}

//for index number difference
#index-nums {
  color: #576c7c;
}

.about {
  place-content: stretch;

  .wrap {
    padding: 1em;

    * {
      margin: 0;
    }
  }
}

//for texts 
.wrap {
  color: #dfe0e2;
}

//for Desc text masking 
.title {
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(#23eded, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

//for bar's appearance
.bar {
  border: 2px solid #23eded;
  background: linear-gradient(to bottom, #00f0ff90 50%, #001f3f 90%);
  border-radius: 3px;
  color: white;
  text-shadow: 0 0 5px #000000;
}
