* {
  box-sizing: border-box;
}

:root {
  --mainCol: #23eded;
  --backgroundCol: #010812;
  --indexCol: #576c7c;
  --railCol: #02143E;
  --textCol: #dfe0e2;
  --barCol: #00f0ff90;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--backgroundCol); //background color 
  font-family: Verdana, sans-serif;
}

